
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.app {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  position:absolute;
  color: #ffffff;
  bottom: 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.time-select, .sound-picker, .player-container{
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-container {
  position: relative;
}

  
.player-container svg{
  position: absolute;
  height: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%) rotate(-90deg);
  pointer-events: none;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}
 
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

.time-select button, .sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all .5 ease;
  font-family: 'Ubuntu', sans-serif;
}

.time-select button:hover {
  color: black;
  background-color: white;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 30px;
}

.sound-picker button:nth-child(1) {
  background:#4972a1;
}

.sound-picker button:nth-child(2) {
  background: #a14f49;
}

.sound-picker button img {
  height: 100%;
}

@media (max-width: 1599px) {

  video {
    width: auto;
    height: 100vh;
  }  
  .player-container {
    height: 55%;
  }
}

@media (max-width: 799px) {

  video {
    width: auto;
    height: 100vh;
  }
  
  .player-container {
    height: 40%;
  }
  .time-select button {
    width: 40%;
    height: 6%;
    font-size: 15px;
  }
  .sound-picker button img {
    height: 35%;
  }
  .sound-picker {
    height: 100%;
  }

  .sound-picker button {
    height: 90px;
    padding: 0;
    width: 90px;
  }
}

@media (max-width: 599px) {
  .time-select button {
    width: 50%;
    height: 5%;
    font-size: 15px;
  }

  .player-container {
    height: 32%;
  }
}

@media (max-width: 499px) {
  .time-select button {
    width: 60%;
    height: 8%;
    font-size: 14px;
  }

  .player-container {
    height: 28%
  }

  .player-container img {
    height: 28%
  }
  .time-display {
    font-size: 28px;
  }
}

@media (max-width: 399px) {
  .time-select button {
    width: 70%;
    height: 10%;
    font-size: 14px;
  }

  .player-container {
    height: 25%
  }

  .player-container img {
    height: 25%
  }

  .time-display {
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .time-select button {
    width: 70%;
    height: 6%;
    font-size: 12px;
  }

  .player-container {
    height: 22%
  }

  .player-container img {
    height: 22%
  }

  .time-display {
    font-size: 25px;
  }
}

/* $sp-layout : 'only screen and (min-width: 1920px)';
$xx-layout : 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$xlg-layout : 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$xs-layout: 'only screen and (max-width: 575px)'; */